* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: url('./img/morphing-diamonds.svg');
}

@font-face {
	font-family: 'Anton';
	src: url('./fonts/Anton-Regular.woff2') format('woff2'),
		url('./fonts/Anton-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.container {
	padding: 1rem;
	background-image: linear-gradient(
		to right bottom,
		rgba(255, 164, 128, 0.9) 0%,
		rgba(255, 138, 109, 0.95) 21%,
		rgba(255, 107, 88, 0.95) 52%,
		rgba(255, 80, 67, 0.95) 78%,
		rgba(255, 51, 48, 0.9) 100%
	);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 200px;
	height: auto;
}

.heading {
	font-family: 'Anton', sans-serif;
	font-weight: 100;
	font-size: 6rem;
	margin-top: 2rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.button__container {
	display: flex;
	justify-content: space-between;
}

.btn {
	font-family: 'Anton', sans-serif;
	letter-spacing: 0.3rem;
	margin: 2rem;
	display: inline-block;
	border: none;
	border-radius: 100px;
	font-size: 2rem;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(120deg, #7289da, #99aab5);
	color: white;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
	transition: all 0.3s;
	min-width: 20rem;
	text-align: center;
	padding: 1.5rem 4rem;
}

.btn:hover {
	transform: translateY(-4px);
	box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

.btn:focus,
.btn:active {
	transform: translateY(-2px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
	.button__container {
		flex-direction: column;
	}
}
